body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.image-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.4rem;
  align-items: center;

  width: 100%;
  height: 100%;
}

.image-grid-item {
  border-radius: 3px;
  object-fit: cover;
  height: 100%;
  max-height: 800px;
  cursor: pointer;
}

.image-grid-item:only-child {
  grid-area: 2 span / 2 span;
}

.image-grid-item:first-child:nth-last-child(3) {
  grid-area: 2 span;
}

.image-item {
  border-radius: 3px;
  object-fit: cover;
  cursor: pointer;
}

.top-right {
  position: absolute;
  top: 0;
  right: 0;
}

.is-hoverable {
  position: relative;
  display: inline-block;
}

.is-hoverable-overlay {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s ease-out, opacity 0.3s ease-out;
}

.is-hoverable-info {
  position: absolute;
  visibility: hidden;
  color: #fff;
  left: 0;
  top: 45%;
  right: 0;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  opacity: 0;
  transition: visibility 0.3s ease-out, opacity 0.3s ease-out;
}

.is-hoverable:hover > .is-hoverable-overlay {
  position: absolute;
  visibility: visible;
  top: 0;
  width: 100%;
  height: 99.5%;
  left: 0;
  background-color: #000;
  border-radius: 50%;
  opacity: 0.5;
  cursor: pointer;
}

.is-hoverable:hover .is-hoverable-info {
  visibility: visible;
  opacity: 1;
}

.is-256x256 {
  height: 256px;
  width: 256px;
}

.is-fullwidth {
  width: 100%;
}

.is-pre-wrap {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.is-scroll-to-top {
  right: 40px;
  bottom: 40px;
  position: fixed;
  z-index: 2;
  cursor: pointer;
  border-radius: 7px;
  width: 40px;
  height: 40px;
  transition: opacity 1s ease-in-out;
  box-shadow: 0 9px 25px 0 rgba(132, 128, 177, 0.28);
  border: none;
  outline: none;
}

@media screen and (min-width: 769px) {
  .is-scroll-to-top {
    left: 40px;
    right: unset;
  }
}

.mobile-navigation {
  position: fixed;
  top: 0;
  left: -100vw;
  width: 100vw;
  min-height: 100vh;
  padding: 3.25rem;
  display: block;
  background-color: white;
  transition: 0.3s ease-out;
  z-index: 3;
}

.mobile-navigation-active {
  left: 0;
}
